---
title: Projects
description: Projects
---

{% extends "topbar.j2" %}
{# {% extends "columns.j2" %} #}

{% block css %}
<style type="text/css">
  body {
	padding-top: 60px;
	padding-bottom: 40px;
  }  
</style>
{% endblock css %}

{% block content %}
<div class="page-header">
	<h1>Projects</h1>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#1" data-toggle="tab">Professional</a></li>
		<li><a href="#2" data-toggle="tab">Pro Bono</a></li>
		<li><a href="#3" data-toggle="tab">GitHub</a></li>
		<li><a href="#4" data-toggle="tab">...</a></li>
	</ul>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="1">
		<h3>Professional Item 1</h3>
		<div class="well">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
		</div>
		<h3>Professional Item 1</h3>
		<div class="well">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
		</div>
	</div>
	<div class="tab-pane" id="2">
		<h3>Pro Bono Item 1</h3>
		<div class="well">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
		</div>
		<h3>Pro Bono Item 1</h3>
		<div class="well">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
		</div>
	</div>
	<div class="tab-pane" id="3">
		<h3>Github Item 1</h3>
		<div class="well">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
		</div>
		<h3>Github Item 1</h3>
		<div class="well">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
		</div>
	</div>
	<div class="tab-pane" id="4">
		<p>I'm in Section ...</p>
	</div>
</div>

{% endblock content %}
