---
title: Resume
description: Resume
---

{% extends "topbar.j2" %}
{# {% extends "columns.j2" %} #}

{% block css %}
<style type="text/css">
  body {
	padding-top: 60px;
	padding-bottom: 40px;
  }  
</style>
{% endblock css %}

{% block content %}
<div class="page-header">
	<h1>Resume</h1>
</div>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#1" data-toggle="tab">Visual</a></li>
		<li><a href="#2" data-toggle="tab">Boring</a></li>
	</ul>
</div>
<div class="tab-content">
	<div class="tab-pane active" id="1">
		<h3>Visual.Me</h3>
		<div class="well">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
		</div>
	</div>
	<div class="tab-pane" id="2">
		<h3>Boring</h3>
		<div class="well">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
			<i class="icon-eye-open"></i>
		</div>
	</div>
</div>
{% endblock content %}
